<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Christians</title>

</head>

<body>

    <div class="header">Manage Christians</div>
<!-- 
    <div class="search-container">
        <input type="text" id="searchInput" class="search-box" placeholder="Search by Name">
        <button class="search-button" (click)="searchChristianByName(searchQuery)">Search</button>
    </div> -->


    <div class="search-container">
        <input type="text" class="search-box" placeholder="Search by Name" [(ngModel)]="searchQuery" />
        <button class="search-button" (click)="searchChristianByName(searchQuery)">Search</button>
    </div>



    <!-- Christian Details -->
    <div *ngIf="selectedChristian" class="christian-details">
        <h2 id="christianName">{{ selectedChristian.name }}</h2>
        <p><strong>Email:</strong> <span id="email"></span> {{selectedChristian.email}}</p>
        <p><strong>Father:</strong> <span id="fatherName"> {{selectedChristian.father}}</span></p>
        <p><strong>Mother:</strong> <span id="motherName"> {{selectedChristian.mother}}</span></p>
        <p><strong>Tribe:</strong> <span id="tribe"> {{selectedChristian.tribe}}</span></p>
        <p><strong>Clan:</strong> <span id="clan"></span> {{selectedChristian.clan}}</p>
        <p><strong>Place of Birth:</strong> <span id="placeOfBirth"></span> {{selectedChristian.birth_place}}</p>
        <p><strong>Residence:</strong> <span id="residence"></span> {{selectedChristian.residence}}</p>
    </div>

        <!-- Error Message -->
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>




    <!-- <div *ngFor="let christian of christians" id="detailsContainer" class="">
        <h2 id="christianName">{{ christian.name }}</h2>
        <p><strong>Email:</strong> <span id="email"></span> {{christian.email}}</p>
        <p><strong>Father:</strong> <span id="fatherName"> {{christian.father}}</span></p>
        <p><strong>Mother:</strong> <span id="motherName"> {{christian.mother}}</span></p>
        <p><strong>Tribe:</strong> <span id="tribe"> {{christian.tribe}}</span></p>
        <p><strong>Clan:</strong> <span id="clan"></span> {{christian.clan}}</p>
        <p><strong>Place of Birth:</strong> <span id="placeOfBirth"></span> {{christian.birth_place}}</p>
        <p><strong>Residence:</strong> <span id="residence"></span> {{christian.residence}}</p>

        <button id="moreInfoButton" class="more-info-button" onclick="redirectToMoreInfo()">More Information</button>
    </div> -->
</body>

</html>