<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <div class="auth-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <h2>Login</h2>
            <input type="email" id="login-email"formControlName="email" placeholder="Email Address" required>
            <input type="password" id="login-password" formControlName="password" placeholder="Password" required>
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error">
                Password is required.
            </div>
            <button type="submit" [disabled]="form.invalid">Login</button>
            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
            <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
            <a routerLink="/register">Don't have an account? Register</a>
        </form>
    </div>
</body>

</html>

